
@{
    ViewBag.Title = "AboutUs";
}


<div class="row">

    <div class="col-md-8">

        <h2 clas="style1"><strong>About Us</strong></h2>

        <div class="text-justify">
            Green Revolution ensures the project consultancy and implementation, meaning internal training and turnkey project delivery, identifying the model of bicycle, hygiene and storage, service and call center in emergency situations.
            The project financing is ensured by each partner company, and the bicycles are made available to employees free of charge.
            Are you already interested? Call us at 021 310 63 97 or send us an e-mail to office@greenrevolution.ro.
        </div>
    </div>

    <div class="col-md-4 BikeImage">
        <img src="~/Content/Images/BikeImage.png" class="img-responsive">
    </div>

</div>

