body {
    font: 400 15px Lato, sans-serif;
}

.container-fluid{
     padding: 40px 250px;
}

.BikeImage{
    padding-top:10px;
}

/*SUPRASCRIERI CHESTII START*/
h2.style1 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
h4.style1 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}  
p.style1{
    color:black;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
hr.style1{
    border-top: 2px solid #828282;
}
/*SUPRASCRIERI CHESTII STOP*/



.greyColor{
    background-color: #f6f6f6;
    color :black;
}

#googleMap
{
    width: 100%;
    height:400px;
    align-items: center;
    padding-left: 30%;
}

.center{
    margin: auto;
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5px;
}

.centerImageCarousel{
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5px;
    width: 100%;
    height: 100%;
}

.centerbutton{
    margin: auto;
    width: 50%;
    padding-left: 7%;
    padding-right: 5%;
    padding-bottom: 5px;
    color:black;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

.usernavbar{
    color:white;
    text-decoration: none;
    margin-top: 10px;
    margin-right:10px;
}

a:hover{
    text-decoration: none;
}

/*Bootstrap Overwrite START*/

.jumbotron {
    background-color: #27B6BE;
    color: #fff;
    padding: 40px 25px;
    margin-bottom: 0px;
}

.carousel-control.left {
    background-image: -webkit-gradient(linear, 0 top, 100% top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0), color-stop(rgba(0, 0, 0, 0.0001) 100%));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-image: none;
    color: #fff;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-gradient(linear, 0 top, 100% top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0), color-stop(rgba(0, 0, 0, 0.5) 100%));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-image: none;
    color: #fff;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #ffffff;
}

.navbar {
    margin-bottom: 0;
    background-color: #27B6BE;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #27B6BE !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: #27B6BE;
    color: #fff !important;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  max-width: 100%;
  height: auto;
  margin: auto;
  width: auto;
}

@media (max-width: 1000px) {
    .container-fluid {
        padding: 10px 20px;
        margin: 0;
    }

    body {
        padding: 0;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
}

@media (max-width: 750px) {
    .container-fluid {
      padding: 10px 20px;
      margin:0;
    }

    body {
      padding:0;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }



}

.row {
}

/*Bootstrap Overwrite OVER*/

.personalize{
    font-size:large;
}

.margin{
    margin-bottom: 3px;
    color: black;
}

.addmargin{
    margin-right: 10%;
    padding-bottom: 15px;
    color:black;
}
    
.blackColor{
    color:black;
}

.tooltip-fixed{
    position: fixed; 
}

#myOverflow{
    overflow: scroll;
    height: 500px;
    width:100%;
    max-width: 100%;
    overflow-x: hidden;
}

.imageSize{
    height:120px; 
    width: 210px;
}

.resized
{
    width: 60px;
    height: 60px; 
}

.customresized{
    width: 60px;
    height: 60px; 
    margin-right: 15px;
    margin-left: 15px;
}

.myMargin{
    padding-left: 20px;
}

.nav-up {
    top: -40px;
}

.imgRound{

}