@model IEnumerable<RentABike.Models.Bicycle>

@{
    Layout = "~/Views/Shared/_EmptyUserLayout.cshtml";
}

<h2 class="text-left style1"><strong>Bicycles</strong></h2>
<br />

<div id="myOverflow">

    @foreach(var myBicycle in Model)
    {
        <hr class="style1" />
        <div class="row">
            @{
                var base64 = Convert.ToBase64String(myBicycle.BicycleImg);
                var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
            }

            <div class="col-md-3">
                <img class="img-responsive imageSize" src="@imgsrc" />
            </div>

            <div class="col-md-5">
                <span class="addmargin"><strong>Bicycle model: @myBicycle.BModel;</strong></span>
                <br />
                <span class="addmargin"><strong>Price per hour: @myBicycle.PricePerHour;</strong></span>
                <br />
            </div>

            <br />
            <div class="col-md-5">
                <p>Details: @myBicycle.Details </p>
            </div>
        </div>
                }
</div>


